body{
    margin: 0px;
}

//Colores Generales

$colorEvento:#FFC845;

//Fuentes

@font-face{
    font-family:SaolDisplay-Regular;
    src: url(/fonts/SaolDisplay-Regular.woff);
}

$fontElle:"SaolDisplay-Regular";

//Compilado

@import "assets/modulo_video"